<h1>Posts#_form</h1>
<p>Find me in app/views/posts/_form.html.erb</p>

<%= form_for @post do |f| %>
  <%= f.text_field :title %>
  <%= f.collection_check_boxes(:tag_ids, @tags, :id, :name) do |b| %>
    <div>
      <%= b.check_box %>
      <%= b.label %>
    </div>
  <% end %>
  <%= f.submit %>
<% end %>
  